body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  min-width: 1200px;
  background-color: #92A89C;
}

input,
button {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-container li,
.main-hero-slider-item,
.features-item,
.main-footer-item,
.catalog-item {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.white-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
}

.site-navigation>li {
  padding-bottom: 10px;
}

.site-navigation .navigation-link {
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.site-navigation a:not(.dark-link):focus-within {
  background: #D07058;
  color: #323232;
}

.site-navigation a:not(.dark-link):focus-within .white-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.menu-active {
  background: #D07058;
  font-weight: 700;
  color: #ffffff;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
}

.menu-active > span {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.site-navigation a:not(.dark-link):active {
  background: rgba(248, 247, 244, 0.99);
  background: #EDEDED;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
  color: #323232;
}

.dark-link {
  color: #323232;
}

.dark-link-underline {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
}

.nav-container ul {
  margin: 0px;
  padding: 0px;
}

.main-logo {
  margin: 0px;
  padding: 0px;
  margin-right: 12px;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.6;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 25px;
  padding-left: 25px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto
}

.logo-site-navigation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
  min-height: 65px;
}

.timetable-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-functional {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-hero-slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-hero-slider-wrap>* {
  margin: 0px;
  padding: 0px;
}

.main-hero-slider-wrap>*>* {
  margin: 0px;
  padding: 0px;
}

.site-wrap {
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}

.inner-wrap {
  background-color: #92A89C;
}

.title-and-button div,
.title-and-button p {
  margin: 0px;
  padding: 0px;
}

.title-and-button {
  padding-left: 220px;
  padding-right: 220px;
  text-align: center;
  margin-top: 235px;
  margin-bottom: 45px;
}

.title-and-button p {
  padding-bottom: 40px;
}

.main-promo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1150px;
  margin: auto;
  margin-bottom: 42px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hit-wrap>* {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-list li {
  margin-right: 27px;
  width: 267px;
  height: auto;
  margin-bottom: 41px;
}

.catalog-list li:nth-of-type(4n+4) {
  margin-right: 0px;
}

.catalog-item {
  position: relative;
}

.catalog-list button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 32px;
  bottom: -60px;
  display: none;
}

.catalog-item a::after {
  content: "";
  position: absolute;
  height: 420px;
  top: -10px;
  left: -15px;
  bottom: -21px;
  right: -15px;
  padding-right: 20px;
  z-index: -1;
  background: rgba(248, 247, 244, 0.1);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  border-radius: 8px;
  display: none;
}

.catalog-item:hover {
  z-index: 10;
}

.catalog-item:focus-within {
  z-index: 10;
}

.catalog-item:hover a::after {
  display: block;
}

.catalog-item:hover button {
  display: block;
}

.catalog-item:focus-within a::after {
  display: block;
}

.catalog-item:focus-within button {
  display: block;
}

.hit {
  position: absolute;
  top: -2px;
  left: 1px;
}

.catalog-item b {
  position: absolute;
  top: 220px;
  left: 0px;
}

.catalog-list a.white-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-list img {
  margin-bottom: 7px;
}

.features-list-wrap {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 40px;
}

.features-list {
  background-color: #EEE3CD;
  background-image: url("../img/wafer-background.jpg");
  background-repeat: repeat;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
}

.features-list>* {
  margin: 0;
  padding: 0;
  border: 0
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item li:nth-of-type(2n+1) {
  position: relative;
  padding-left: 80px;
  padding-right: 0px;
  padding-bottom: 24px;
}

.features-item li:nth-of-type(2n+2) {
  position: relative;
  padding-left: 84px;
}

.feature-produce::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 24px;
}

.feature-buyer::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top:  -10px;
  left: 29px;
}

.feature-milk::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 24px;
}

.feature-delivery::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-feature-thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top: -12px;
  left: 28px;
}

.features-list b {
  padding-top: 20px;
  padding-left: 25px;
}

.features-item li {
  width: 560px;
}

.features-list b {
  padding-bottom: 22px;
}

.features-item li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article-subscribe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.new-article-title {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-top: 0px;
  padding: 0px;
  border: 0px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-article a {
  margin-right: 231px;
}

.email-subscribe p {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.new-article {
  width: 560px;
  height: 220px;
  padding-left: 20px;
  padding-top: 25px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new-article a {
  margin-top: 20px;
}

.main-map {
  position: relative;
  text-align: center;
  height: 430px;
  z-index: 0;
}


.main-map-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.company-credential>* {
  margin: 0px;
  padding: 0px;
}

.company-credential {
  position: absolute;
  width: 254px;
  top: 60px;
  right: 25px;
  padding-left: 26px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 18px;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.40);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.40);
  z-index: 99900;
}

.feedback-button {
  width: 100%;
}

.send-right {
  margin-left: 300px;
}

.company-credential a {
  margin-top: 24px;
  margin-bottom: 12px;
  width: inherit;
  box-sizing: border-box;
}

.company-credential p:first-of-type {
  margin-bottom: 2px;
}

.company-credential {
  background-color: rgba(255, 255, 255, 0.98);
  color: #323232;
  font-size: 14px;
  line-height: 20px;
}

.company-credential b {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.credential-addr {
  margin-bottom: 15px;
}

.credential-phone {
  margin-top: 6px;
  margin-bottom: 5px;
}

.main-footer > * {
  margin: 0;
  padding: 0;
  border: 0
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 26px;
  padding-right: 25px;
  padding-top: 17px;
  padding-bottom: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 186px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media {
  display: inline-block;
  vertical-align: baseline;
  width: 32px;
  height: 32px;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.social-media svg {
  opacity: 0.8;
}

.social-media:hover {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

.social-media svg:hover {
  opacity: 1;
}

.social-media:active,
.social-media:focus-within {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.social-media svg:active,
.social-media svg:focus-within {
  opacity: 0.5;
}

.link {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 330px;
  margin-left: 35px;
  font-size: 13px;
  line-height: 22px;
}

.link li:nth-child(2n+1){
  width: 140px;
}

.distributor-important::before {
  content: "";
  background-image: url("../img/icon_heart.svg");
  position: absolute;
  width: 15px;
  height: 13px;
  margin-top: 5px;
  margin-left: -23px;
}

.footer-copyright>* {
  padding: 0px;
  margin: 0px
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-copyright p {
  font-size: 13px;
  font-weight: 400;
}

.link-logo-footer:hover,
.link-logo-footer:focus {
  opacity: 0.6;
  border-bottom: none;
}

.breadcumbs-wrap>* {
  margin: 0px;
  padding: 0px;
}

.breadcumbs-wrap {
  width: 1150px;
  margin: auto;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.breadcumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -25px;
}

.breadcumbs li {
  list-style-type: none;
  position: relative;
  margin-right: 20px;
}

.breadcumbs li::after {
  content: "»";
  top: 0px;
  right: -13px;
  position: absolute;
}

.breadcumbs li:last-of-type::after {
  content: "";
}

.title-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 26px;
}

.title-inner h1 {
  font-size: 35px;
  line-height: 37px;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}

.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.filter-wrap fieldset {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.catalog-list {
  margin: 0px;
  padding: 0px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1150px;
  padding-left: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.pagination-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sub-menu-list a:hover {
  background-color: #FBDED7;
  border-radius: 0px;
}

.sub-menu-list a:focus-within {
  background-color: #FBDED7;
  border-radius: 0px;
}

.sub-menu-active {
  background-color: #D07058;
  color: #ffffff;
}

.sub-menu-list li:last-of-type > a:hover {
  background-color: #FBDED7;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sub-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: -5px;
  top: 51px;
  border-radius: 6px;
  min-width: 146px;
  visibility: hidden;
  z-index: 1;
}

.sub-menu-list li:first-of-type > a  {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.site-navigation li:hover ul {
  visibility: visible;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.site-navigation li:focus-within ul {
  visibility: visible;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.site-navigation li:hover a:not(.dark-link) {
  background-color: #ffffff;
}

.site-navigation li:hover .white-link {
  color: #323232;
  border-bottom: 1px solid rgba(232, 77, 55, 0);
}

.site-navigation li:focus-within .white-link {
  color: #323232;
  border-bottom: 1px solid rgba(232, 77, 55, 0);
}

.site-navigation li:focus-within a:not(.dark-link) {
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.search-container {
  position: relative;
}

.sub-menu-list a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-form {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 51px;
  right: 208px;
  border-radius: 6px;
  display: none;
}

.search-form-inner {
  top: 51px;
  right: 230px;
}

.search-form input {
  padding-right: 15px;
  width: 314px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}


.main-hero-slider-item li:nth-of-type(1n+2) {
  display: none;
}


.dark-link:hover,
.dark-link:focus {
  color: #E84D37;
  text-decoration: none;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.sub-menu-link:hover,
.sub-menu-link:focus {
  border-bottom: none;
}

.white-link:hover,
.white-link:focus {
  color: #FFBC9E;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.background {
  background-color: #F8F7F4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
}

.login-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 280px;
  right: 108px;
  top: 51px;
  padding: 151px;
  border-radius: 10px;
  display: none;
}

.login-background.inner-login-background {
  right: 124px;
  top: 51px;
}

.background form {
padding-left: 15px;
padding-right: 10px;
padding-top: 20px;
padding-bottom: 24px;

}

.cta-button.small {
  height: 45px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 25px;
  padding-right: 25px;
}

.login-fields.input-field {
  width: 244px;
  height: 47px;
  margin-top: 0px;
  margin-left: 2px;
}

.background input:first-of-type {
  margin-bottom: 20px;
}

.login-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  vertical-align: bottom;
}

.login-button>* {
  margin: 0px;
  padding: 0px;
}

.reset-link {
  padding-left: 12px;
}

.sub-menu-list a {
  font-weight: 400;
  text-decoration: none;
}

.site-functional>li {
  padding-bottom: 15px;
  padding-right: 7px;
}

.site-functional li:last-of-type {
  padding-right: 0px;
}

.functional-button {
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.functional-button.login {
  padding-left: 44px;
  padding-right: 18px;
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  left: 15px;
  top: 6px;
  background-image: url("../img/icon-entrance.svg");
}

.functional-button-search {
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.functional-button-search::before {
  content: "";
  top: 8px;
  left: 7px;
  height: 16px;
  width: 16px;
  position: absolute;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}

.functional-button-search:hover,
.functional-button-search:active {
  background: #ffffff;
}

.functional-button-search:focus-within {
  background: #ffffff;
}

.functional-button-search:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.search-sub:hover .search-form.background,
.search-sub:active .search-form.background {
  display: block;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.search-sub:focus-within .search-form.background {
  display: block;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.login-sub:hover .login::before,
.login-sub:active .login::before {
  background-image: url("../img/icon-entrance-hover.svg");
}

.login-sub:focus-within .login::before {
  background-image: url("../img/icon-entrance-hover.svg");
}

.login-sub:hover .functional-button.login {
  color: #323232;
}

.cart-sub:hover .cart::before,
.cart-sub:active .cart::before {
  background-image: url("../img/icon-basket-red.svg");
}

.cart-sub:focus-within .cart::before {
  background-image: url("../img/icon-basket-red.svg");
}

.login-sub:hover .login {
  background-color: #ffffff;
}

.login-sub:focus-within .login {
  color: #323232;
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.login-sub:hover .login-background,
.login-sub:active .login-background {
  display: block;
  z-index: 99999;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.login-sub:focus-within .login-background {
  display: block;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.cart-sub:hover .order-full-item,
.cart-sub:focus .order-full-item {
  display: block;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.cart-sub:hover .cart,
.cart-sub:focus .cart {
  color: #323232;
  background-color: #ffffff;
}

.cart-sub:focus .cart {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.site-navigation li:hover a:not(.dark-link) {
  background-color: #ffffff;
}

.site-functional li:hover .functional-button-search::before,
.functional-button-search:active::before {
  background-image: url("../img/icon-search-hover.svg");
}

.functional-button-search:focus-within::before {
  background-image: url("../img/icon-search-hover.svg");
}

.site-functional li:hover .functional-button-search,
.site-functional li:active .functional-button-search {
  background-color: #ffffff;
}

.site-functional li:active .functional-button-search {
  background-color: #ffffff;
}

.functional-button.cart {
  position: relative;
  padding-left: 45px;
}

.functional-button.cart::before {
  content: "";
  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 16px;
  width: 20px;
  height: 20px;
}

.functional-button.cart:focus-within::before,
.functional-button.cart:active::before,
.functional-button.cart:focus::before {
  background-image: url("../img/icon-basket-red.svg");
}

.functional-button.cart-null:hover::before,
.functional-button.cart-null:active::before,
.functional-button.cart-null:focus::before {
  background-image: url("../img/icon-basket-index-hover.svg");
}

.functional-button.cart-null:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.functional-button {
  background: rgba(255, 255, 255, 0.2);
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  vertical-align: middle;
}

.functional-button:hover,
.functional-button:focus,
.functional-button:active {
  background: #F8F7F4;
  color: #323232;
}

.cta-button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  outline: none;
}

.button-medium {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
}

.cta-button:hover,
.cta-button:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F38567), to(#EB6F5D));
  background-image: -webkit-linear-gradient(top, #F38567 0%, #EB6F5D 100%);
  background-image: -o-linear-gradient(top, #F38567 0%, #EB6F5D 100%);
  background-image: linear-gradient(180deg, #F38567 0%, #EB6F5D 100%);
  -webkit-box-shadow: 0 1px 2px 0 #AC1000;
          box-shadow: 0 1px 2px 0 #AC1000;
}

.cta-button:focus-within {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.cta-button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#EB795E), color-stop(67%, #DA4C35));
  background-image: -webkit-linear-gradient(bottom, #EB795E 0%, #DA4C35 67%);
  background-image: -o-linear-gradient(bottom, #EB795E 0%, #DA4C35 67%);
  background-image: linear-gradient(0deg, #EB795E 0%, #DA4C35 67%);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
  border-radius: 6px;
  border-radius: 50px;
}

.timetable-shop {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

.inner-timetable-shop {
  margin-bottom: 0px;
}

.timetable-shop span {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 5px;
}

.main-hero-slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  text-shadow: -1px 1px 4px rgba(46, 20, 12, 0.49);
}

#product-1:checked~.site-wrap #slide1,
#product-2:checked~.site-wrap #slide2,
#product-3:checked~.site-wrap #slide3 {
  display: block;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

#product-1:checked~.site-wrap label[for="product-1"],
#product-2:checked~.site-wrap label[for="product-2"],
#product-3:checked~.site-wrap label[for="product-3"] {
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

#product-1:focus~.site-wrap label[for="product-1"],
#product-2:focus~.site-wrap label[for="product-2"],
#product-3:focus~.site-wrap label[for="product-3"] {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.site-wrap label[for="product-1"]:hover,
.site-wrap label[for="product-2"]:hover,
.site-wrap label[for="product-3"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls {
  position: relative;
  bottom: 63px;
  left: -2px;
  top: 430px;
  font-size: 0;
  width: 300px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrap {
  background-color: #849d8f;
  background-image: url("../img/hero-ice-cream-1.png");
}

#product-2:checked~.site-wrap {
  background-color: #8996a6;
  background-image: url("../img/hero-ice-cream-2.png");
}

#product-3:checked~.site-wrap {
  background-color: #9d8b84;
  background-image: url("../img/hero-ice-cream-3.png");
}

.slide {
  display: none;
}

.main-promo-raspberry {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #C82C55;
  background-image: url("../img/raspberry-background.jpg");
  background-size: cover;
  border-radius: 15px;
  min-height: 230px;
  width: 560px;
}

.main-promo-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 1);
}

.main-promo-raspberry p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 1);
}

.main-promo-chocolate a {
  margin-top: 50px;
  margin-bottom: 23px;
}

 .main-promo-raspberry a {
   margin-top: 50px;
   margin-bottom: 23px;
}

.main-promo-chocolate {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3E1E0E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: repeat-y;
  border-radius: 15px;
  min-height: 230px;
  width: 560px;
}

.main-promo-chocolate p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 1);
}

.features-list b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.new-article {
  background-color: #ffffff;
  width: 560px;
  background-image: url("../img/article-background.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.new-article b {
  font-size: 24px;
  line-height: 30px;
}

.title-wrap {
  width: 309px;
}

.email-subscribe-background {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 220px;
  width: 560px;
  padding: 5px;
  border-radius: 15px;
  background-image: url("../img/form-border.jpg");
  background-color: #92CDFF;
}

.email-subscribe {
  font-size: 16px;
  line-height: 22px;
  background-color: #F8F7F4;
  height: 210px;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5A5A5A;
  border-radius: 12px;
}

.order-full-item {
  color: #323232;
  line-height: 16px;
  display: none;
}

.order-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 542px;
  right: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  top: 51px;
  z-index: 999999;
}

.small-close {
  font-size: 0px;
  background: transparent;
  border: 0px;
  cursor: pointer;
  background-image: url("../img/icon-cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 11px;
  height: 11px;
}

.small-close:hover,
.small-close:focus-within {
  background-image: url("../img/icon-cross-small-hover.svg");
}

.table-wrap {
  width: 507px;
  padding-top: 5px;
}

.cream-preview {
  padding-left: 9px;
  vertical-align: middle;
  width: 33px;
  height: 33px;
}

.order-cream-info {
  padding-left: 9px;
  padding-top: 19px;
  padding-bottom: 12px;
  vertical-align: top;
  font-size: 13px;
}

.order-cream-weight {
  width: 100px;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 13px;
}

.order-cream-price {
  width: 80px;
  vertical-align: top;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 12px;
}

.order-full-item .order-price-item {
  color: #999999;
}

.order-price-summary {
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  margin-bottom: -2px;
}

hr.line {
  border: 0.5px solid #CACAC7;
}

.button-right {
  text-align: right;
  margin-bottom: 20px;
}

.pagination-slider {
  list-style: none;
}

.pagination-slider a {
  border-bottom: none;
}

.product-price {
  font-size: 45px;
  line-height: 13px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.50);
}

.product-price span {
  font-size: 30px;
}

.pagination-catalog {
  list-style-type: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-top: 36px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
}

.pagination-catalog a {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 10px;
  border-radius: 50%;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 0px;
}

.pagination-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 1150px;
}

.pagination-catalog a:hover,
.pagination-catalog a:active {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.pagination-catalog a:hover #icon-right-small,
.pagination-catalog a:focus #icon-right-small {
  fill: #323232;
}

a.no-pagination {
  pointer-events: none;
  cursor: default;
}

.pagination-catalog-active a {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.pagination-catalog a:focus-within {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

.pagination-catalog li:last-of-type {
  padding-left: 9px;
}

.pagination-catalog li:first-of-type {
  padding-right: 4px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-right: 200px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-title {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 17px;
}

.filter-background {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  margin-bottom: 15px;
  border-radius: 20px;
  margin-right: 12px;
}

.pop-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  padding-left: 15px;
  border-radius: 20px;
  margin-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.popularity-wrap select {
  border: 0px;
}

.popularity {
  font-weight: 500;
  color: #ffffff;
  width: 180px;
  background-color: transparent;
  z-index: 12;
}

.popularity {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.popularity::-ms-expand {
    display: none;
}

.arrow::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 11px;
  top:16px;
  right:17px;
  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
  z-index: 0;
}

.popularity:hover {
  background: transparent;
  color: #323232;
}

.popularity:hover + .arrow::after {
  background-image: url('../img/icon-down-dir-hover.svg');
  background-repeat: no-repeat;
}

.fat-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  width: 417px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  margin-right: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fill-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  width: 705px;
  margin-right: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  width: 220px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 20px;
  margin-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.price-scale {
  width: inherit;
  height: 3px;
  background: #d7dcde;
}

.price-scale .bar {
  z-index: 1;
  width: 75%;
  height: 3px;
  background-color: #ffffff;
}

.toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 1px rgba(171, 171, 171, 0.3);
          box-shadow: 0 3px 1px rgba(171, 171, 171, 0.3);
  position: absolute;
  top: 9px;
  left: 0;
}

 .toggle-min {
  left: 35px;
}

.toggle-max {
  left: 135px;
}

.toggle:hover {
  border: 8px solid #ffffff;
  background-color: #323232;
  -webkit-box-shadow: 0 3px 21px rgba(171, 171, 171, 1);
          box-shadow: 0 3px 21px rgba(171, 171, 171, 1);
  cursor: pointer;
}

.filter-apply {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 18px;
  height: 36px;
  padding-right: 28px;
  padding-left: 28px;
  border-radius: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 15px;
  cursor: pointer;
}

.filter-apply:hover {
  background: #FFFFFF;
  color: #323232;
}

.filter-apply:active {
  background: #EDEDED;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
  color: #323232;
}

#product-1:checked~.site-wrap #slide1,
#product-2:checked~.site-wrap #slide2,
#product-3:checked~.site-wrap #slide3 {
  display: block;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

#product-1:checked~.site-wrap label[for="product-1"],
#product-2:checked~.site-wrap label[for="product-2"],
#product-3:checked~.site-wrap label[for="product-3"] {
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

#fat-radio-id:checked~.fat-filter label[for="fat-radio-id"]::before,
#fat-radio-id-10:checked~.fat-filter label[for="fat-radio-id-10"]::before,
#fat-radio-id-20:checked~.fat-filter label[for="fat-radio-id-20"]::before,
#fat-radio-id-30:checked~.fat-filter label[for="fat-radio-id-30"]::before,
#fat-radio-id-40:checked~.fat-filter label[for="fat-radio-id-40"]::before {
  background-image: url("../img/icon-radio-on.svg");
}

#fat-radio-id:focus-within~.fat-filter label[for="fat-radio-id"],
#fat-radio-id-10:focus-within~.fat-filter label[for="fat-radio-id-10"],
#fat-radio-id-20:focus-within~.fat-filter label[for="fat-radio-id-20"],
#fat-radio-id-30:focus-within~.fat-filter label[for="fat-radio-id-30"],
#fat-radio-id-40:focus-within~.fat-filter label[for="fat-radio-id-40"] {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

#fat-radio-id:disabled~.fat-filter label[for="fat-radio-id"]::before,
#fat-radio-id-10:disabled~.fat-filter label[for="fat-radio-id-10"]::before,
#fat-radio-id-20:disabled~.fat-filter label[for="fat-radio-id-20"]::before,
#fat-radio-id-30:disabled~.fat-filter label[for="fat-radio-id-30"]::before,
#fat-radio-id-40:disabled~.fat-filter label[for="fat-radio-id-40"]::before {
  opacity: 0.6;
  cursor: default;
  outline: none;
}

#fat-radio-id:disabled~.fat-filter label[for="fat-radio-id"],
#fat-radio-id-10:disabled~.fat-filter label[for="fat-radio-id-10"],
#fat-radio-id-20:disabled~.fat-filter label[for="fat-radio-id-20"],
#fat-radio-id-30:disabled~.fat-filter label[for="fat-radio-id-30"],
#fat-radio-id-40:disabled~.fat-filter label[for="fat-radio-id-40"] {
  opacity: 0.6;
  cursor: default;
  outline: none;
}

#fat-radio-id:focus-within~.fat-filter label[for="fat-radio-id"]::before,
#fat-radio-id-10:focus-within~.fat-filter label[for="fat-radio-id-10"]::before,
#fat-radio-id-20:focus-within~.fat-filter label[for="fat-radio-id-20"]::before,
#fat-radio-id-30:focus-within~.fat-filter label[for="fat-radio-id-30"]::before,
#fat-radio-id-40:focus-within~.fat-filter label[for="fat-radio-id-40"]::before {
  opacity: 1;
}

.fat-filter label {
  cursor: pointer;
}

.fat-filter label {
  margin-right: 18px;
}

.fat-filter label:last-of-type,
.fill-filter label:last-of-type {
  margin-right: 0px;
}

.fill-filter label {
  margin-right: 20px;
}

.fat-filter label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: text-top;
  background-image: url("../img/icon-radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.fat-filter label:hover::before {
  opacity: 1;
}

.fill-filter label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 20px;
  margin-right: 7px;
  vertical-align: text-top;
  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.fill-filter label:hover::before {
  opacity: 1;
}

#fill-checkbox-id-chocolate:checked~.fill-filter label[for="fill-checkbox-id-chocolate"]::before,
#fill-checkbox-id-sugar:checked~.fill-filter label[for="fill-checkbox-id-sugar"]::before,
#fill-checkbox-id-fruit:checked~.fill-filter label[for="fill-checkbox-id-fruit"]::before,
#fill-checkbox-id-syrup:checked~.fill-filter label[for="fill-checkbox-id-syrup"]::before,
#fill-checkbox-id-jam:checked~.fill-filter label[for="fill-checkbox-id-jam"]::before {
  background-image: url("../img/icon-checkbox-on.svg");
}

#fill-checkbox-id-chocolate:focus-within~.fill-filter label[for="fill-checkbox-id-chocolate"],
#fill-checkbox-id-sugar:focus-within~.fill-filter label[for="fill-checkbox-id-sugar"],
#fill-checkbox-id-fruit:focus-within~.fill-filter label[for="fill-checkbox-id-fruit"],
#fill-checkbox-id-syrup:focus-within~.fill-filter label[for="fill-checkbox-id-syrup"],
#fill-checkbox-id-jam:focus-within~.fill-filter label[for="fill-checkbox-id-jam"] {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
}

#fill-checkbox-id-chocolate:focus-within~.fill-filter label[for="fill-checkbox-id-chocolate"]::before,
#fill-checkbox-id-sugar:focus-within~.fill-filter label[for="fill-checkbox-id-sugar"]::before,
#fill-checkbox-id-fruit:focus-within~.fill-filter label[for="fill-checkbox-id-fruit"]::before,
#fill-checkbox-id-syrup:focus-within~.fill-filter label[for="fill-checkbox-id-syrup"]::before,
#fill-checkbox-id-jam:focus-within~.fill-filter label[for="fill-checkbox-id-jam"]::before {
  opacity: 1;
}

#fill-checkbox-id-chocolate:disabled~.fill-filter label[for="fill-checkbox-id-chocolate"]::before,
#fill-checkbox-id-sugar:disabled~.fill-filter label[for="fill-checkbox-id-sugar"]::before,
#fill-checkbox-id-fruit:disabled~.fill-filter label[for="fill-checkbox-id-fruit"]::before,
#fill-checkbox-id-syrup:disabled~.fill-filter label[for="fill-checkbox-id-syrup"]::before,
#fill-checkbox-id-jam:disabled~.fill-filter label[for="fill-checkbox-id-jam"]::before {
  opacity: 0.6;
  cursor: default;
  outline: none;
}

#fill-checkbox-id-chocolate:disabled~.fill-filter label[for="fill-checkbox-id-chocolate"],
#fill-checkbox-id-sugar:disabled~.fill-filter label[for="fill-checkbox-id-sugar"],
#fill-checkbox-id-fruit:disabled~.fill-filter label[for="fill-checkbox-id-fruit"],
#fill-checkbox-id-syrup:disabled~.fill-filter label[for="fill-checkbox-id-syrup"],
#fill-checkbox-id-jam:disabled~.fill-filter label[for="fill-checkbox-id-jam"] {
  opacity: 0.6;
  cursor: default;
  outline: none;
}

.fill-filter label {
  cursor: pointer;
}

.input-field {
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 6px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 365px;
  height: 43px;
  margin-top: 38px;
  font-weight: 700;
  color: #323232;
}

.input-field::-webkit-input-placeholder {
  color: #999999;
  font-weight: 200;
}

.input-field:-ms-input-placeholder {
  color: #999999;
  font-weight: 200;
}

.input-field::-ms-input-placeholder {
  color: #999999;
  font-weight: 200;
}

.input-field::placeholder {
  color: #999999;
  font-weight: 200;
}

.email-subscribe button {
  margin-top: 35px;
  margin-left: 7px;
}

.input-field:hover {
  -webkit-box-shadow:
  0 0 0 2px rgba(178, 178, 178, 0.5);
          box-shadow:
  0 0 0 2px rgba(178, 178, 178, 0.5);
  border-radius: 6px;
}

.input-field:focus-within {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 3px rgba(46, 136, 228, 0.5);
  border-radius: 6px;
}

.modal-feedback {
  position: fixed;
  top: 200px;
  left: 25%;
  right: 25%;
  display: flex;
  flex-wrap: wrap;
  width: 481px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999999;
  border-radius: 15px;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-animation: fadeIn 10s;
          animation: fadeIn 10s;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-field.feedback-username,
.input-field.feedback-email,
.input-field.feedback-text {
  margin-top: 0px;
}

.input-field.feedback-email {
  margin-bottom: 20px;
  width: 265px;
  margin-left: 10px;
}

.input-field.feedback-username {
  width: 265px;
  margin-left: 10px;
}


.feedback-text {
  resize: none;
  width: 431px;
  height: 160px;
  max-height: 300px;
  padding-top: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.modal-feedback h2 {
  color: #323232;
  font-size: 24px;
  line-height: 22px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  margin-left: 10px;

}

.close-modal {
  font-size: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  outline: none;
}

.close-modal::before,
.close-modal::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #323232;
}

.close-modal:hover::before,
.close-modal:hover::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #E84D37;
}

.close-modal:focus-within::before,
.close-modal:focus-within::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #E84D37;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
  border-radius: 6px;
}

.close-modal:active::before,
.close-modal:active::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #E84D37;
}

.close-modal::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-modal::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.overlay-show {
  display: block;
  -webkit-animation: fadeIn 0.6s;
          animation: fadeIn 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.overlay1 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  cursor: default;
  z-index: 99999;
}

.overlay1:target {
  display: block;
}

.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 481px;
  position: fixed;
  background-color: #F8F7F4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  color: #323232;
  z-index: 999999;
  border-radius: 15px;
}

.overlay1:target+.popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%;
}

.popup h2 {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.close {
  font-size: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  outline: none;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #323232;
}

.close:hover::before,
.close:hover::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #E84D37;
}

.close:focus-within::before,
.close:focus-within::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #E84D37;
  -webkit-box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
          box-shadow: 0 0 0 4px rgba(46, 136, 228, 0.5);
  border-radius: 6px;
}

.close:active::before,
.close:active::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 18px;
  height: 3px;
  background-color: #E84D37;
}

.close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
