body {
  margin:0px;
  padding: 0px;

  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849D8F;
}

/*Наследование шрифта кнопками и инпутами*/
input,
button {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/*Отключаем маркеры в навигации*/
nav li,
.main-hero-slider-item,
.features-item,
.main-footer-item,
.catalog-item {
  list-style-type: none;
}

/*Ссылка белого цвета и с прозрачнвм подчеркиванием*/
.white-link{
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*Черная ссылка со стандартным подчеркиванием*/
.dark-link {
  color: #323232;
}
/*Черная ссылка с прозрачным подчеркиванием*/
.dark-link-underline {
  text-decoration:none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/*Меню Каталог - доставка - О компании*/
.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}



/* Разметка сетки */
/* 1.Разметка главного меню */
/* 1.1 Убираем маргины и паддинги в меню */
.nav-container ul {
  margin: 0px;
  padding: 0px;
}

.main-header img {
  margin: 0px;
  padding: 0px;
}

/* 1.2 Добавляем контейнер по центру для меню / лого и так далее */
.main-header {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  padding-right: 25px;
  padding-left: 25px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

/* 1.3 Объединяем логотип и пункты меню в один контейнер */
.logo-site-navigation-wrap {
  display: flex;
}

/* 1.4 Разносим логотип+навигацию влево и функц. кнопки вправо */
.nav-container {
  display: flex;
  justify-content: space-between;
}

/*1.5 Режим рабоыт, выключка по правому*/
.timetable-shop {
  display: flex;
  flex-direction: column;
}

/*1.6 Вертикальное центрирование навигацион. меню*/
.site-navigation {
  display: flex;
  align-items: center;
}


/*1.7 Вертикальное центрирование фукнциональных кнопок*/
.site-functional {
  display: flex;
  flex-direction: row;
  align-items: center;
}



/* 2. Размечаем слайдер */
/* 2.1 Добавляем общий контейнер */
.main-hero-slider-wrap {
  display: flex;
  width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}

/* 2.2 Обнуляем UL*/
.main-hero-slider-wrap > * {
  margin: 0px;
  padding: 0px;
}
.main-hero-slider-wrap > * > * {
  margin: 0px;
  padding: 0px;
}

/* 2.3 Выравниваем кнопку и текст по центру */
.main-hero-slider-wrap div {
position: relative;
}

/* 2.4 Обнуляем расстояние между картинкой/текстом и кнопкой */
.main-hero-slider-wrap p,
.main-hero-slider-wrap img {
  margin: 0px;
  padding: 0px;
}

/* 2.5 Задаем позиционирование для заголовка с кнопкой */
.main-hero-slider-item div {
  position: absolute;
  top: 390px;
  text-align: center;
}
/* 2.6 Задаем расстояние от заголовка до кнопки */
.main-hero-slider-item p {
  padding-bottom: 40px;
}

/* 3. Размечаем промо */
/*3.1 Делаем контейнер */
.main-promo-wrap {
  display: flex;
  flex-direction: row;
  width: 1150px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 3.2 Задаем размеры для рекламного блока 1 */
.main-promo-raspberry{
min-height: 230px;
width: 560px;
}

/* Задаем размеры для рекламного блока 2 */
.main-promo-chocolate {
min-height: 230px;
width: 560px;
}

/* 4. Размечаем хитов */
/* 4.1 Обнуляем все растояния у хитов. */
.hit-wrap > * {
  margin:0;
  padding:0;
  border:0
}

/* 4.2 Добавляем контейнер для хитов в общий*/
.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
  text-align: center;
}

/* 4.3 Задаем параметры товара*/
.catalog-list li {
  margin-right: 25px;
  width: 267px;
  height: auto;
}

/* 4.4 Задаем параметры товара*/
.catalog-list li:nth-of-type(4n+4) {
    margin-right: 0px;
}

/* 4.5 Размещаем надпись Хит */
.catalog-item {
  position: relative;
}

.hit {
  position: absolute;
  top: 0px;
  left:0px;
}

/* 4.6 Размещаем цену */
.catalog-item b {
  position: absolute;
  top: 225px;
  left:0px;
}

/* 5. Доавляем разметку преимуществ глэйси */
/* 5.1 Добавляем общий контейнер */

.features-list-wrap {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 25px;
}

.features-list {
  flex-direction: column;
  display: flex;
  border-radius: 20px;
}

/* 5.2 Обнуляем расстояния в списках */
.features-list > * {
  margin:0;
  padding:0;
  border:0
}

/* 5.3 Добавляем разметку колонок преимуществ */
.features-item {
  display: flex;
  flex-wrap: wrap;
}

/* 5.4 Выстав. падинги для в колонках и заголовке */
.features-item li:nth-of-type(2n+1) {
  position: relative;
  padding-left: 76px;
  padding-right: 0px;
  padding-bottom: 30px;
}

.features-item li:nth-of-type(2n+2) {
  position: relative;
  padding-left: 84px;
}

/* 5.5 Добавляем иконки к преимуществам */
.feature-produce::before {
  content: "";
  position: absolute;
  background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/icon-feature-ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top:-10px;
  left: 20px;
}

.feature-buyer::before  {
  content: "";
  position: absolute;
  background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/icon-feature-cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 26px;
}

.feature-milk::before  {
  content: "";
  position: absolute;
  background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/icon-feature-eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 20px;
}

.feature-delivery::before  {
  content: "";
  position: absolute;
  background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/icon-feature-thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 26px;
}

/* 5.6 Паддинг заголовка */
.features-list b {
  padding-top: 30px;
  padding-left: 20px;
}

/* 5.7 Задаем размер кололнки преимуществ */
.features-item li {
    width: 560px;
}

/* 5.8 Задаем расстояние от заголовка до пунктов преимуществ*/
.features-list b{
  padding-bottom: 25px;
}

.features-item li {
  box-sizing: border-box;
}

/* 6. Разметка популярной статьи + формы подписки */
/* 6.1 Добавляем контейнер для статьи формы*/
.article-subscribe-wrap {
  display: flex;
  width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

/*6.2 Добавляем размеры статьи и формы подписки*/
.new-article {
  width: 560px;
  height: 220px;
}

.email-subscribe {
  width: 560px;
  height: 208px;
}

/* 7. Разметка карты */
/* 7.1 Добавляем контейнер для карты */
.main-map {
  position: relative;
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* 7.1 Позиционируем контактные данные */

.company-credential > * {
  margin: 0px;
  padding: 0px;
}

.company-credential {
  display: block;
  position: absolute;
  top:60px;
  right:60px;
  width: 310px;
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.company-credential a{
  margin-top: 30px;
}

.company-credential p:first-of-type {
  margin-bottom: 25px;
}

/* 8. Разметка футера */
/* 8.1 Обнуляем все отступы */
.main-footer > * {
  margin:0;
  padding:0;
  border:0
}
/* 8.1 Добавляем общий контйнер для футера */
.main-footer {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 100px;
}

/* 8.2 Контейнер для соц. сетей */
.social {
  display: flex;
  width: 267px;
}

/* 8.3 Контейнер для ссылок */
.link{
  column-count: 2;
  column-gap: 0px;
}

/* 8.4 Контейнер для создателя сайта */
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}


/* ************Разметка каталога************ */

/* 8.5.1 Разметка крошек и заголовка */
/* 8.5.2 Обнуляем расстояния в крошуках */
.breadcumbs {
  margin: 0px;
  padding: 0px
}

/* 8.5.3 Убираем макеркры*/
.breadcumbs li{
  list-style-type: none;
}

/* 8.5.4 Добавлем контейнер*/
.breadcumbs {
  display: flex;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* 8.5.5 Добавлем контейнер*/
.title-inner {
  display: flex;
  width: 1150px;
  margin-left:auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;

}

.title-inner h1 {
  margin: 0px;
  padding: 0px
}

/* 9.Разметка фиьлтра товаров*/
/* 9.1 Обнуляем расстояния */
.fliter-wrap {
  margin: 0px;
  padding: 0px;
}

/* 9.2 Добавляем общий контейнер для фильтров */
.fliter-wrap {
display: flex;
flex-wrap: wrap;

width: 1150px;
margin-left: auto;
margin-right: auto;
padding-left: 25px;
padding-right: 25px;
}

/* 9.3 Добавляем размеры выпадалки, ползунка, радио и чекбо */
.fliter-wrap select {
  width: 196px;
  height: 40px;
}

.price-range {
  width: 220px;
  height: 40px;
}

.fat-radio {
  width: 417px;
  height: 40px;
}

.filling-checkbox {
  width: 700px;
  height: 40px;
}

.fliter-wrap button {
  width: 146px;
  height: 40px;
}

/* 10. Размечаем результаты фильтрации */
/* 10.1 Обнуляем расстояния для результатов фильтрации */
.catalog-list {
  margin: 0px;
  padding: 0px;
}

/* 10.2 Добавляем общий контейнер */
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}


/* 11.Размечаем пагинацию */
/* 11.1 Обнуляем расстояния */
.pagination-catalog {
  margin: 0px;
  padding: 0px;
}

/* 11.2 Создаем контейнер*/
.pagination-catalog {
  display: flex;
  border: 0px;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: flex-end;
}



/*Наведение, фокус, активная для меню Каталог - доставка - О компании.
not --> исключает второй уровень каталога*/
.site-navigation a:not(.dark-link):hover {
  background-color: #F7F6F3;
  color: #323232;
  font-weight: 700;
  box-shadow: inset 0 2px 1px 0 #696969;
}
.site-navigation a:not(.dark-link):focus {
  background-color: #EDEDED;
  color: #323232;
}
.site-navigation a:not(.dark-link):active {
  background-color: #D07058;
  color: #323232;
}

/*Наведение, фокус, активная для подменю каталог*/
.sub-menu-list a:hover {
  background-color: #FBDED7;
}
.sub-menu-list a:focus {
  background-color: #F6B5A5;
}
.sub-menu-list a:active {
  background-color: #D07058;
}

/* Отключаем отображение второго уровня меню */
.sub-menu-list {
  display: none;
}
/* Отключаем форму логина */
.login-form {
display: none;
}

/* Отключаем поисковое поле */
.search-form {
  display: none;
}

/* Отключаем обратную связь */
.modal-feedback {
  display: none;
}

/* Отключаем два последних слайда */
.main-hero-slider-item li:nth-of-type(1n+2) {
  display: none;
}

/*Наведение, фокус, активная для черных ссылок (кроме главн. меню)*/
.login-form a:hover,
.login-form a:focus,
.login-form a:active,
.new-article a:hover,
.new-articlea:focus,
.new-article a:active {
    color: #E84D37;
    text-decoration:none;
    border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

/*Наведение, фокус, активная для белых ссылок (кроме главн. меню)*/
.hit a:not(.catalog-img):hover,
.hit a:not(.catalog-img):focus,
.hit a:not(.catalog-img):active,
.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active,
.catalog-list a:not(.catalog-img):hover,
.catalog-list a:not(.catalog-img):focus,
.catalog-list a:not(.catalog-img):active
 {
  color: #FFBC9E;
  text-decoration:none;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/*Бекграунд для поиска/формы входа/корзины/второго уровня меню*/
.background-nav {
  background-color: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}

.sub-menu-list a {
  font-weight: 400;
  text-decoration: none;
}

/*Cтиль кнопок Поиск и Вход, Корзина*/
.functional-button {
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.functional-button { /*Прозрачный фон для кнопок поиск / вход */
  background: rgba(255, 255, 255, 0.2);
}

/*Эффект наведения фон для кнопок поиск / вход */
.functional-button:hover,
.functional-button:focus,
.functional-button:active {
  background: #F8F7F4;
  color: #323232;
}

/*Красная кнпока - отправить / хочу шоколадки / давайте оба*/
.cta-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button-medium { /*Кнопки Хочу варенье/отправить/форма обратной связи*/
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
}

.cta-button:hover {
background-image: linear-gradient(180deg, #F38567 0%, #EB6F5D 100%);
box-shadow: 0 1px 2px 0 #AC1000;
}

.cta-button:active {
  background-image: linear-gradient(0deg, #EB795E 0%, #DA4C35 67%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/*Cтиль нмоера телефона и режима работы*/
.timetable-shop {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-align: right;
}

.timetable-shop span { /*Отдельный дизайн для номера*/
  font-size: 22px;
  line-height: 24px;
}

.main-hero-slider-title {
  font-size: 60px;
  font-weight:700;
  line-height: 60px;
}

/*Далее идут два промо-блока - малинки и шоколадки*/
.main-promo-raspberry {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #C82C55;
  background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/raspberry-background.jpg");
  background-repeat: no-repeat;
  border-radius: 20px;
}

.main-promo-raspberry b {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  display: inline-block;
  margin-bottom: 20px;
}

.main-promo-raspberry p{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0px;
}

.main-promo-chocolate a {
  margin-top: 45px;
}

.main-promo-raspberry a {
  margin-top: 45px;
}

.main-promo-chocolate {
  padding: 20px;
  background-color: #3E1E0E;
  box-sizing: border-box;
  background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/chocolate-background.jpg");
  background-repeat: no-repeat;
  border-radius: 20px;
}

.main-promo-chocolate b {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  display: inline-block;
  margin-bottom: 20px;
}

.main-promo-chocolate p{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0px;
}

.features-list { /*Преимущества магазина Глэйси*/
  background-color: #EEE3CD;
  background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/wafer-background.jpg");
  background-repeat: repeat;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.features-list b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}


.new-article{ /*Раздел новая статья*/
background-color: #ffffff;
width: 560px;
background-image: url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/article-background.jpg");
background-repeat: no-repeat;
background-position: right;
background-size: contain;
color: #323232;
font-size: 16px;
line-height: 22px;
font-weight: 500;
}

.new-article b{
  font-size: 24px;
  line-height: 30px;
}

.email-subscribe { /*Раздел email подписка #F8F7F4*/
  font-size: 16px;
  line-height: 22px;
  background-color: #F8F7F4;
  width: 560px;
  color: #5A5A5A;

  border-radius: 20px;
  border: 6px solid rgba(0, 0, 0, 0);
  border-image-source:  url("/Users/helf42/Documents/GitHub/1062517-gllacy-25/img/form-border.png");
  border-image-slice: 10;

}

/*Оформление раздела контактов*/
.company-credential {
  background-color: rgba(255, 255, 255, 0.98);
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.company-credential b{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/*Корзина с двумя товарами в ней*/
.order-full-item {
  color: #323232;
}

.order-full-item .order-price-item { /*Измен цвет цены товара*/
  color: #999999;
}

.order-price-summary { /*Итого по правому краю*/
  text-align: right;
  border-top: 1px solid #CACAC7;
}
/*Привязывает все кнопки (с этим классом) к правому краю*/
.button-right{
  text-align: right;
}


.pagination-slider { /*Убираем маркеры в пагинации слайдера*/
  list-style: none;
}

.pagination-slider a { /*Убираем подчеркивание в пагинации слайдера*/
  border-bottom: none;
}

.product-price {/*Размер цены морож. на карточках*/
  font-size: 45px;
  line-height: 13px;
  text-shadow: 0.5px 0.9px 3px rgba(49,50,53,0.50);
  }

.product-price span {
  font-size: 30px;
}

/*Пагинация в каталоге*/
.pagination-catalog {
  list-style: none;
  font: 16px;
  font-weight: 500;
}

.pagination-catalog a {
  color: #ffffff;
  text-decoration: none;
}

.pagination-catalog a:hover,
.pagination-catalog a:focus {
  background: rgba(255, 255, 255, 0.2);
}

.pagination-catalog a:active {
  color: #323232;
  background: #ffffff;
}

.filter fieldset {
   border: none;
}

.filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

/*Дизайн подписей к фильтрам*/
.filter-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-background {/*Задаем стиль фона для полей сортировка/жирность/цена/наполнители*/
    background: rgba(255, 255, 255, 0.2);
    border: none;
    height: 39px;
}

.popularity { /*Оформление текста по поулярности*/
  font-weight: 500;
  color: #ffffff;
}

.popularity:hover{
background: rgba(255, 255, 255, 0.2);
color: #323232;
}

.filter-apply { /*Оформление кнопки применить*/
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 18px;
  height: 39px;
}

.filter-apply:hover{
    background: #FFFFFF;
    color: #323232;
}

.filter-apply:active{
  background: #EDEDED;
  box-shadow: inset 0 2px 1px 0 #696969;
  color: #323232;
}

/*Оформляем чекбоксы и радио*/
.filter-checkbox:hover + label,
.filter-checkbox:hover + label {
  cursor: pointer;
  color:#323232;
}

.filter-radio:hover + label,
.filter-radio:hover + label
 {
  cursor: pointer;
  color:#323232;
}

/*Оформляем окно обратная связь*/
.modal-feedback h2{
  color:#323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

/*Скрываем элементы, к-ые имеют данный класс*/
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

iframe {
  width:1200px;
  height:430px;
  border:0;
}
